/**
    Author: Konersmann
    Created: October 20, 2014
    Maintenance Log:
        10/28/2014 - 
**/

#userInfoSection {
    margin-left: 25%;
}

#profilePic {
    float:left;
    width:250px;
}

#selectionMenuBar {
    width: auto;
    background: #000;
    clear:both;
}

#selectionMenuBar > ul {
    height:50px;
    padding-left: 0;
    list-style-type: none;
    display:block;
}

#selectionMenuBar li:hover {
    background-color: #ff9d00;
}

/*
#selectionMenuBar li:hover a {
    color:#222;
}*/

#selectionMenuBar li.selected {
    background: linear-gradient(to bottom, #ff9d00 0%, #ff7300 100%);
}

#selectionMenuBar > ul > li {
    float:left;
    height: 50px;
    margin-right: 4px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    z-index: 5;
}

#selectionMenuBar a {
    height:50px;
    padding: 0px 30px 0px 30px;
    margin-top: 20px;
    color: #eee;
    font-size: 20px;
    text-decoration: none;
}

#updateAccountButton {
    float:right;
    color:white;
    background: -moz-linear-gradient(#777, #000);
    background: -webkit-linear-gradient(#777, #000);
    background: -o-linear-gradient(#777, #000);
}

#updateSubmitButton, #closeButton {
    color:white;
    background: -moz-linear-gradient(#ff9d00, #ff7300);
    background: -webkit-linear-gradient(#ff9d00, #ff7300);
    background: -o-linear-gradient(#ff9d00, #ff7300);
}

.hideThis {
    display: none;
}

.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background:#7f7f7f;
    background: rgba(0,0,0,0.5);
    color:white;
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    /*background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);*/
    background:#7f7f7f;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0.498039);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    color: rgb(255, 255, 255);
}

/**
#logoutbut{
    float: right;
}
*/