
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

img.bg {
    /*background-image: url("img/blank.jpg");*/
    
       /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

html {
    font-family: 'Source Sans Pro', sans-serif;
}

#backtoHomePage{
    float: right;
    font-size: 30px;
    
}

#searchbar {
    margin-top: .5%;
}

#createactivity {
    position: relative;
    left: 50%;
    font-size: 17px;
    color:white;
    background: -webkit-linear-gradient(#777, #000);
}

#createactivity:hover{
    background: -webkit-linear-gradient(#ff9d00, #ff7300);
}

#currentplan {
    float: right;
	height: 90vh;
    border-radius: 10px;
	right: 0%;
    width: 25vw;
    margin-top: 75px;
    margin-bottom: 0;
    background: -webkit-linear-gradient(#ff9d00, #ff7300);
    border: 2px dashed #ffffff;
    box-shadow: 0 0 0 2px #ff9d00, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
    opacity: 0.9;
}

#currentplanlist{
    position: absolute;
    right: 0%;
    top: 0%;
}

#currentplanlist button{
    float: right;
    margin: 2px;
}

#favactivitiesbut{
    clear: right;
}

#currentDatePlan{
    padding-left: 7px;
    height: 79.5%;
    width: 300px;
    margin-bottom: 0;
    margin-left: 20px;
    margin-top: 60px;
}

#currentDatePlan li{
    list-style-type: none;
}

.activity, .activityDatePlan {
	float: left;
	margin-top: 5px;
	margin-right: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
    list-style-type: none;
    border-radius: 10px;
    padding-left: 5px;
    background-clip: border-box;
    background-color: #ffffff;
    color: #404040;
    border: 2px dashed #ffa500;
    box-shadow: 0 0 0 2px #fff, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
}
.activity:hover{
    background: -webkit-linear-gradient(#ff9d00, #ff7300);
}
h3{
	float: left;
    margin-bottom: 0px;
}

.starred, .unstarred{
	float: left;
	margin-left: 10px;
	margin-top: 22px;
	margin-right: 5px;
    margin-bottom: 0px;
}

.starred{
	width:17px; 
	height:16px;
	background:url(../img/star_rate.gif) left -16px;
}

.starred:hover{
	background-position:left top;
}

.unstarred {
	width:17px;
	height:16px;
	background:url(../img/star_rate.gif) left top;
}

.unstarred:hover {
	background-position:left -16px;
}

.reviewBut{
    float: left;
    clear: left;
    margin: 5px;
    background: -moz-linear-gradient(#ff9d00, #ff7300);
    background: -webkit-linear-gradient(#ff9d00, #ff7300);
    background: -o-linear-gradient(#ff9d00, #ff7300);
}

.addTagC{
    margin: 5px;
    margin-top: 0;
    float: right;
    background: -moz-linear-gradient(#ff9d00, #ff7300);
    background: -webkit-linear-gradient(#ff9d00, #ff7300);
    background: -o-linear-gradient(#ff9d00, #ff7300);
}

#currentDatePlan .addTagC{
    font-size: 12px;
    margin-right: 5px;
    margin-left: 0;
    margin-top: 13px;
    float: right;
}

.activityDatePlan h3, .userDatePlan h3{
    font-size: 15px;
}

.activityDatePlan .starred, .activityDatePlan .unstarred{
    margin-top: 10px;
}

.userDatePlan .reviewButton{
    font-size: 10px;
    margin-bottom: 2px;
    background: -moz-linear-gradient(#ff9d00, #ff7300);
    background: -webkit-linear-gradient(#ff9d00, #ff7300);
    background: -o-linear-gradient(#ff9d00, #ff7300);
}

.dateplan, .userDatePlan{
    display: inline-block !important;
    overflow: hidden;
    background-color: grey;
    padding-left: 9px;
    margin-bottom: 5px;
    width: 315px;
    background: -webkit-linear-gradient(#666, #000);
    border-radius: 10px;
}

.dateplan .activity{
    clear: left;
    border-radius: 10px;
}

/**
    Konersmann - added modal dialog styles
    affect create activity button
*/

.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.65);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
    background:#7f7f7f;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0.498039);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    color: rgb(255, 255, 255);
}

#activitySubmitButton, #closeButton, .btn-minimal, .descriptionButton,
#searchsubmit {
    color:white;
    background: -moz-linear-gradient(#777, #000);
    background: -webkit-linear-gradient(#777, #000);
    background: -o-linear-gradient(#777, #000);
}

#activitySubmitButton:hover, #closeButton:hover, .btn-minimal:hover, 
.descriptionButton:hover, #searchsubmit:hover {
    background: -moz-linear-gradient(#ff9d00, #ff7300);
    background: -webkit-linear-gradient(#ff9d00, #ff7300);
    background: -o-linear-gradient(#ff9d00, #ff7300);
}

form#reviewActivity label#rating{
    height: 30%;
}

.dateplan .activity h3{
    margin-bottom: 20px;
}

.activityDatePlan h3{
    margin-bottom: 17px;
}

#descriptionBut, #publishCheckbox, #publishLabel{
    float: right;
    margin-right: 5px;
    opacity: 1;
}

#DescriptionBoxAnchor .reviewButton{
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 50px;
    background: -moz-linear-gradient(#ff9d00, #ff7300);
    background: -webkit-linear-gradient(#ff9d00, #ff7300);
    background: -o-linear-gradient(#ff9d00, #ff7300);
}

#searchResults{
    padding-left: 0;
}

h2{
    text-align: center;
}

#backToCreateBut{
    float: left;
    margin-top: 5px;
    margin-left: 5px;

}

.userDatePlanX, .userActivityX{
    float: right;
    font-size: 10px;
    background: none;
    border: none;
    background-color: #5C5C5C;
}

.userDatePlanX:hover, .userActivityX:hover{
    background-color: orange;
}

#logoutbut, #profilebut, #myPlansBut, #favDatePlansBut, #favactivitiesbut{
    background: -moz-linear-gradient(#777, #000);
    background: -webkit-linear-gradient(#777, #000);
    background: -o-linear-gradient(#777, #000);
    color:white;
}

#logoutbut:hover, #profilebut:hover, #myPlansBut:hover, #favDatePlansBut:hover, #favactivitiesbut:hover{
    background: -moz-linear-gradient(#ff9d00, #ff7300);
    background: -webkit-linear-gradient(#ff9d00, #ff7300);
    background: -o-linear-gradient(#ff9d00, #ff7300);
}

h1{
    left: 40%;
    top: 10%;
    position: absolute;
}

#datePlanName, #dpNameSaveBut{
    float: right;
    margin-top: 15px;
    opacity: 1;
}

#datePlanName{
    width: 45%;
}

#dpNameSaveBut{
    margin-right: 80px;
    margin-left: 5px;
}

.tags{
    margin-bottom: 0;
    margin-left: 3px;
    margin-top: 3px;
    float: left;
    clear: left;
}

.reviewButton{
    float: left;
    clear: left;
}

#homeButton:hover {
    background: rgba(0,0,0,0.1);
    cursor: pointer;
}

.dateplan > .unstarred, .dateplan > .starred{
    float: right;
}

.ui-tooltip, .arrow:after {
    background: orange;
    border: 2px solid white;
}

.ui-tooltip {
    position: absolute;
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
    box-shadow: 0 0 7px black;
    width: 200px;
    z-index: 10;
}

.arrow {
    width: 25px;
    height: 25px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    bottom: -16px;
}

.arrow.left {
    bottom: 40%;
    left: 0%;
}

.arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -7px;
    width: 30px;
    height: 30px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
}