
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
    /*background-image: url("img/blank.jpg");*/
    background-image: url("../img/nice_snow.png");
}

html {
    font-family: 'Source Sans Pro', sans-serif;
}

#backtoHomePage{
    float: right;
}

#searchbar {
    margin-top: .5%;
}

#createactivity {
    position: relative;
    left: 50%;
    font-size: 17px;
    color:white;
    background: -moz-linear-gradient(#777, #000);
    background: -webkit-linear-gradient(#777, #000);
    background: -o-linear-gradient(#777, #000);
}

#createactivity:hover{
    background: -moz-linear-gradient(#ff9d00, #ff7300);
    background: -webkit-linear-gradient(#ff9d00, #ff7300);
    background: -o-linear-gradient(#ff9d00, #ff7300);
}

#currentplan {
    float: right;
	height: 90vh;
	right: 0%;
    width: 300px;
    margin-top: 75px;
    margin-bottom: 0;
    background-image: url("../img/clipboard_paper.png");
    background-size: 300px 90vh;
    background-repeat:no-repeat;
}

#currentplanlist{
    position: absolute;
    right: 0%;
    top: 0%;
}

#currentplanlist button{
    float: right;
    margin: 2px;
}

#myPlansBut, #favactivitiesbut{
    clear: right;
}

#currentDatePlan{
    padding-left: 7px;
    height: 80vh;
    width: 228px;
    margin-bottom: 0;
    margin-left: 17%;
    margin-top: 32%;
}

#currentDatePlan li{
    list-style-type: none;
}

.activity, .activityDatePlan {
	float: left;
	margin-top: 10px;
	margin-right: 10px;
    list-style-type: none;
    color:white;
    background: -moz-linear-gradient(#777, #000);
    background: -webkit-linear-gradient(#777, #000);
    background: -o-linear-gradient(#777, #000);
}
.activity:hover{
    background: -moz-linear-gradient(#ff9d00, #ff7300);
    background: -webkit-linear-gradient(#ff9d00, #ff7300);
    background: -o-linear-gradient(#ff9d00, #ff7300);
}
h3{
	float: left;
    margin-bottom: 0px;
}

.starred, .unstarred{
	float: left;
	margin-left: 10px;
	margin-top: 22px;
	margin-right: 5px;
    margin-bottom: 0px;
}

.starred{
	width:17px; 
	height:16px;
	background:url(../img/star_rate.gif) left -16px;
}

.starred:hover{
	background-position:left top;
}

.unstarred {
	width:17px;
	height:16px;
	background:url(../img/star_rate.gif) left top;
}

.unstarred:hover {
	background-position:left -16px;
}

.reviewBut{
    float: left;
    clear: left;
    margin: 5px;
     background: -moz-linear-gradient(#ff9d00, #ff7300);
    background: -webkit-linear-gradient(#ff9d00, #ff7300);
    background: -o-linear-gradient(#ff9d00, #ff7300);
}

.activityDatePlan h3, .userDatePlan h3{
    font-size: 15px;
}

.activityDatePlan .starred, .activityDatePlan .unstarred{
    margin-top: 15px;
}

.userDatePlan .reviewButton{
    font-size: 10px;
    margin-bottom: 2px;
     background: -moz-linear-gradient(#ff9d00, #ff7300);
    background: -webkit-linear-gradient(#ff9d00, #ff7300);
    background: -o-linear-gradient(#ff9d00, #ff7300);
}

.dateplan, .userDatePlan{
    display: inline-block !important;
    overflow: hidden;
    background-color: grey;
    margin-left: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.dateplan .activity{
    clear: left;
}

/**
    Konersmann - added modal dialog styles
    affect create activity button
*/

.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.65);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
    background:#7f7f7f;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0.498039);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    color: rgb(255, 255, 255);
}

#activitySubmitButton, #closeButton {
    color:white;
    background: -moz-linear-gradient(#ff9d00, #ff7300);
    background: -webkit-linear-gradient(#ff9d00, #ff7300);
    background: -o-linear-gradient(#ff9d00, #ff7300);
}

form#reviewActivity label#rating{
    height: 30%;
}

.dateplan .activity h3{
    margin-bottom: 20px;
}

.activityDatePlan h3{
    margin-bottom: 17px;
}

#descriptionBut, #publishCheckbox, #publishLabel{
    position: absolute;
    bottom: 2%;
}

#descriptionBut{
    right: 1%;
    bottom: 5%;
}

#publishLabel{
    right: 14%;
}

#publishCheckbox{
    right: 100%;
}

#DescriptionBoxAnchor .reviewButton{
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 50px;
    background: -moz-linear-gradient(#ff9d00, #ff7300);
    background: -webkit-linear-gradient(#ff9d00, #ff7300);
    background: -o-linear-gradient(#ff9d00, #ff7300);
}

#searchResults{
    padding-left: 0;
}

h2{
    text-align: center;
}

#backToCreateBut{
    float: left;
    margin-top: 5px;
    margin-left: 5px;

}

.userDatePlanX{
    float: right;
    font-size: 10px;
    background: none;
    border: none;
    background-color: #5C5C5C;
}

.userDatePlanX:hover{
    background-color: orange;
}

#logoutbut, #profilebut, #myPlansBut, #favDatePlansBut, #favactivitiesbut{
    background: -moz-linear-gradient(#777, #000);
    background: -webkit-linear-gradient(#777, #000);
    background: -o-linear-gradient(#777, #000);
    color:white;
}

#logoutbut:hover, #profilebut:hover, #myPlansBut:hover, #favDatePlansBut:hover, #favactivitiesbut:hover{
    background: -moz-linear-gradient(#ff9d00, #ff7300);
    background: -webkit-linear-gradient(#ff9d00, #ff7300);
    background: -o-linear-gradient(#ff9d00, #ff7300);
}

#publishLabel{
    bottom: 5%;
}

h1{
    left: 40%;
    top: 10%;
    position: absolute;
}

#datePlanName{
    bottom:67%;
    left: 79%;
    width: 18.5%;
    position: absolute;
}