#searchbar {
    margin-top: .5%;
}

#createactivity {
    position: relative;
    left: 50%;
}

#currentplan {
	float: right;
	height: 97vh;
	right: 0%;
	background-color: #00FFFF;
}

#currentplanlist li {
	margin-bottom: 2%;
	list-style: none;
	text-align: right;
}

.activity {
	float: left;
	margin-top: 10px;
	margin-right: 10px;
	background-color: green;
}

h3{
	float: left;
}

.starred, .unstarred{
	float: left;
	margin-left: 10px;
	margin-top: 22px;
	margin-right: 5px;
}

.starred{
	width:17px; 
	height:16px;
	background:url(../img/star_rate.gif) left -16px;
}

.starred:hover{
	background-position:left top;
}

.unstarred {
	width:17px;
	height:16px;
	background:url(../img/star_rate.gif) left top;
}

.unstarred:hover {
	background-position:left -16px;
}
/**
    Konersmann - added modal dialog styles
    affect create activity button
*/

.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}